.root {
  position: relative;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  background-color: #000;
}

:global(.is-fixed) .root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.root canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}
